body{
    background-image:url(img/masajes.jpg);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}
.main-register{
    display: flex;
    flex: wrap;
    justify-content: center;
    padding-top: 30px;
}

.main-login{
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.form-login{
    background-color: antiquewhite;
    border: 3px solid #444;
    display: grid;
    gap: 15px;
    max-width: 500px;
    padding: 50px 70px;
    padding-bottom: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.i-login:focus {
border: 4px solid coral; 
margin: 4px;
}

#cc-login{
    font-size: 14px;
    position: absolute;
    top: 430px;
}

#forget-login{
    font-size: 14px;
    position: absolute;
    top: 430px;
    left: 670px;
}

.submit{
    margin-top: 25px;
    padding: 5px;
}